/* html5 */
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
body {
  color: #444;
  background: white;
  line-height: 20px;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0px;
  min-width: 1100px;
}
.more {
  color: white;
}
.more:hover {
  color: white;
}
.container {
  width: 1030px;
}
.head {
  position: relative;
  margin-bottom: 10px;
  background: #ffffff url(../images/bg.jpg) repeat-x top;
}
.binner {
  text-align: center;
}
.binner img {
  width: 1160px;
  margin: 20px;
  margin-bottom: 54px;
}
.nav ul {
  list-style: none;
  padding: 0;
  overflow: auto;
  border-top: solid 1px #DCDCDC;
}
.nav > ul li {
  float: left;
}
.nav > ul li a:hover {
  background-color: #5876aa;
  color: white;
  text-decoration: none;
}
.nav li > a {
  color: black;
  display: block;
  line-height: 42px;
  font-size: 15px;
  padding: 0 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.nav ul {
  margin-bottom: 0px;
}
.box {
  background: #FFF;
  box-shadow: 4px 5px 5px #808080;
  padding: 10px;
  margin: 20px 0;
}
.box > .box-head {
  background: #5876aa;
  color: #FFF;
  font-weight: bold;
  padding: 2px 10px;
  margin: -10px -10px 10px -10px;
}
.box > .box-head h5 {
  font-weight: bold;
}
.box .btn-group {
  display: block;
  padding: 5px 10px;
  margin: -3px -10px 10px -10px;
  background: #5CA0EB;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.box .btn-group:hover {
  background-color: #5876aa;
}
.box .dropdown-menu {
  border-radius: 0px;
  margin: 0;
  padding: 0;
}
.box .dropdown-menu a {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.box .dropdown-menu a:hover {
  background-color: #24AFB2;
  color: white;
}
.box .caret {
  margin-top: 8px;
}
.box ul.link {
  padding-left: 0px;
  margin: -10px;
  list-style: none;
}
.box ul.link > a {
  display: block;
  color: black;
  padding: 7px 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.box ul > a:hover {
  color: white;
  background-color: #24AFB2;
}
.fast-link img {
  width: 200px;
}
.fast-link {
  margin-bottom: 10px;
}
.dropdown-menu li {
  font-size: 12px;
  padding: 3px 0px;
}
.foot-bar {
  text-align: center;
  background: #5876aa;
  color: white;
  margin-top: 80px;
  padding: 50px;
}
.top_warp {
  border-top: solid 8px #5876aa;
  padding: 15px 0px;
  overflow: auto;
}
.top_warp img {
  float: left;
}
.top_warp .top_words {
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  color: #5876aa;
}
.thumbnail {
  position: relative;
  overflow: hidden;
}
.thumbnail .caption {
  position: absolute;
  bottom: -53px;
  left: 0px;
  background: #5CA0EB;
  width: 100%;
  color: #FFF;
  text-align: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.thumbnail .caption.show {
  bottom: 0px;
}
.sidebar {
  margin-top: -83px;
}
.text {
  font-size: 16px;
  line-height: 29px;
  text-indent: 2em;
}
.to-top {
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: 10px 0;
  background-color: #405999;
  border-radius: 23px;
  color: #FFF;
  font-size: 20px;
  height: 45px;
  width: 45px;
  text-align: center;
  cursor: pointer;
}
.newslist {
  margin: 0 5px;
  border-bottom: 1px solid #E9E8EA;
  padding: 40px 0;
  margin-bottom: 14px;
}
.newslist li {
  float: left;
  _display: inline;
  width: 300px;
  margin: 0 15px;
  list-style: none;
}
.ydate_2 {
  border: 1px solid #EDEAF1;
  color: #5B317D;
  background: #EDEAF1;
}
.ydate {
  width: 58px;
  border: 1px solid #D8D8D8;
  color: #7D7D7D;
  text-align: center;
  font-size: 12px;
  float: left;
  _display: inline;
  padding-bottom: 5px;
}
.ydate span {
  display: block;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 0 2px 0;
  zoom: 1;
}
.newslist .tn {
  margin-left: 80px;
  width: 220px;
  _width: 217px;
}
a{
  text-overflow: ellipsis;
  white-space: nowrap;overflow: hidden;
}