body {
  color: #444;
  background: #E9E9E9;
  line-height: 20px;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
  margin: 0px;
}
.more {
  color: white;
}
.more:hover {
  color: white;
}
.container {
  width: 990px;
}
.head {
  position: relative;
  margin-bottom: 10px;
}
.binner {
  width: 100%;
  height: 260px;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
}
.nav ul {
  list-style: none;
  padding: 0;
  overflow: auto;
}
.nav > ul li {
  float: left;
  background-color: #55606E;
  padding: 15px 37px;
  font-weight: bold;
}
.nav > ul li:hover {
  background-color: #343A41;
}
.nav li > a {
  color: #FFF;
}
.nav ul {
  background-color: #55606E;
  margin-bottom: 0px;
}
.box {
  background: #FFF;
  box-shadow: 4px 5px 5px #808080;
  padding: 10px;
  margin: 10px 0;
}
.box > .box-head {
  background: #55606E;
  color: #FFF;
  font-weight: bold;
  padding: 2px 10px;
  margin: -10px -10px 10px -10px;
}
.box > .box-head h5 {
  font-weight: bold;
}
.box .btn-group {
  display: block;
  padding: 5px 10px;
  margin: -3px -10px 10px -10px;
  background: #24AFB2;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .2s ease;
}
.box .btn-group:hover {
  background-color: #55606E;
}
.box .dropdown-menu {
  border-radius: 0px;
  margin: 0;
  padding: 0;
}
.box .dropdown-menu a {
  -webkit-transition: all .2s ease;
}
.box .dropdown-menu a:hover {
  background-color: #24AFB2;
  color: white;
}
.box .caret {
  margin-top: 8px;
}
.box ul.link {
  padding-left: 0px;
  margin: -10px;
  list-style: none;
}
.box ul.link > a {
  display: block;
  color: black;
  padding: 7px 10px;
  -webkit-transition: all .2s ease;
}
.box ul > a:hover {
  color: white;
  font-weight: bold;
  background-color: #24AFB2;
}
.fast-link img {
  width: 200px;
}
.fast-link {
  margin-bottom: 10px;
}
.dropdown-menu li {
  font-size: 12px;
  padding: 3px 0px;
}
.foot-bar {
  text-align: center;
  background: #55606E;
  color: white;
  margin-top: 80px;
  padding: 50px;
}
